In [ ]:
# Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = dict1
dict3.update(dict2)
print(dict3)

dict3 = {**dict1,**dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
# Print the value of key ‘history’ from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
sampleDict['class']['student']['marks']['history']

80

In [3]:
# Create a dictionary by extracting the keys from a given dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]
new_dict = {}
new_dict.update({'name':'kelly','salary':8000})
print(new_dict)

ndict = {k:sample_dict[k] for k in keys}
print(ndict)

{'name': 'kelly', 'salary': 8000}
{'name': 'Kelly', 'salary': 8000}

In [7]:
# Delete a list of keys from a dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

nw_dict = {sample_dict.pop(k) for k in keys}
print(sample_dict)

nedict = {}
nedict.update({'city':'New york','age':25})
print(nedict)

{'age': 25, 'city': 'New york'}
{'city': 'New york', 'age': 25}

In [8]:
# Write a Python program to check if value 200 exists in the following dictionary
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
  print('200 is present in dict')

200 is present in dict

In [10]:
# Write a program to rename a key city to a location in the following dictionary.
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [11]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min(sample_dict)

'Math'

In [16]:
# Write a Python program to change Brad’s salary to 8500 in the following dictionary.
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}